body {
    margin: 0;
}

#navigation-bar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.40em;
    color: #2a3a26;
    background-color: #9bcff2;
    display: none;
}

#navigation-bar .navigation-list {
    display: flex;
}

#navigation-bar .navigation-list .navigation-item {
    list-style-type: none;
    margin-left: 2em;
    transition: color 0.2s;
}

#navigation-bar .navigation-list .navigation-item:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 6px;
}

#navigation-bar .navigation-list .navigation-item .item-link {
    text-decoration: none;
    padding-bottom: 2px;
}

#navigation-bar .navigation-list .navigation-item .item-link:visited {
    color: inherit;
}

#navigation-links {
    margin-right: 2em;
    letter-spacing: 2px;
}

#introduction {
    display: flex;
    align-items: center;
    height: 100vh;
}

#introduction-image-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

#introduction-image {
    height: 100vh;
    width: auto;
    transform: scale(1.4);
}

#introduction-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #9bcff2;
    color: #2a3a26;
}

#introduction-names {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: -4rem;
}

#introduction-heading {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    margin-bottom: -0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.30rem;
}

#introduction-subheading {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid rgba(42, 58, 38, 0.4);
    padding-bottom: 1.2rem;
}

#heart-icon {
    width: 2rem;
    height: auto;
    margin-bottom: -1rem;
}

#rsvp {
    all: unset; /* Resets all properties except display, white-space, and some input-specific properties */
    display: inline-block; /* Ensure the button behaves like an inline-block element */
    /* You may need to re-add some desired properties */
    padding: 0; /* Remove padding */
    margin-top: 1rem; /* Remove margin */
    border: none; /* Remove border */
    background: none; /* Remove background */
    color: inherit; /* Inherit text color */
    font: inherit; /* Inherit font styles */
    line-height: normal; /* Reset line height */
    cursor: pointer; /* Set cursor to pointer */
    text-decoration: none; /* Remove text decoration */
    outline: none; 
}

#rsvp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a3a26;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#rsvp img {
    display: block;
    width: 12%;
}

#rsvp span {
    display: block;
    margin-left: 0.2rem;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #2a3a26;
}